<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"><head>
<head>
    <meta charset="UTF-8">
    <title>Info Blog</title>
</head>
<body>
<h1>Info Blog</h1>

<table>
  <tr>
    <td>Title</td>
    <td th:text="${blog.tittle}"></td>
  </tr>
  <tr>
    <td>Author</td>
    <td th:text="${blog.author}"></td>
  </tr>
  <tr>
    <td>Posting Date</td>
    <td th:text="${blog.postingDate}"></td>
  </tr>
  <tr>
    <td>category</td>
    <td th:text="${blog.category.name}"></td>
  </tr>
  <tr>
    <td>Content</td>
    <td th:text="${blog.content}"></td>
  </tr>
</table>
<a href="/blog/list">Back List</a>
</body>
</html>